Checks: 'google-*,-google-readability-avoid-underscore-in-googletest-name,
 ,-google-readability-avoid-underscore-in-googletest-name,cppcoreguidelines-*,
-google-objc-function-naming,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -cppcoreguidelines-owning-memory,
-cppcoreguidelines-noexcept-move-operations,
-cppcoreguidelines-avoid-magic-numbers,
-cppcoreguidelines-pro-type-const-cast,
-bugprone-easily-swappable-parameters, -bugprone-easily-swappable-parameters,
-cppcoreguidelines-noexcept-swap,-performance-noexcept-swap,
  modernize-*,
  performance-*,
  clang-analyzer-*,
  bugprone-*,
  misc-*,
  readability-*,
  -readability-implicit-bool-conversion,
  -readability-identifier-length,
  -readability-else-after-return,-readability-magic-numbers,
-cppcoreguidelines-noexcept-swap,-performance-noexcept-swap,
-performance-noexcept-move-constructor,-performance-noexcept-swap,
-performance-unnecessary-value-param,
  -modernize-use-trailing-return-type,
  -modernize-use-nodiscard,-modernize-pass-by-value,
-misc-non-private-member-variables-in-classes,-misc-no-recursion,
-bugprone-narrowing-conversions,-bugprone-suspicious-include,-cppcoreguidelines-narrowing-conversions,
-google-objc-function-naming'
HeaderFilterRegex: '.*'
